@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
body {
  margin: 0; }

body {
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: #888; }

h1, h2, h3, h4, h5, h6, .display-4 {
  color: #dc3545;
  font-weight: 700; }

a {
  color: #21252f;
  text-decoration: none; }

.navbar a:hover {
  color: darkblue !important; }

section {
  padding-top: 120px;
  padding-bottom: 120px; }

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  padding-top: 16px; }

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0; }

.hero {
  background-image: url("../img/top.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2; }
  .hero:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37, 39, 71, 0.7);
    z-index: -1; }

.card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease; }
  .card-effect:hover {
    box-shadow: none;
    transform: translateY(5px); }

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  background-color: #dc3545;
  border-radius: 100px;
  flex: none; }

.service {
  position: relative;
  overflow: hidden; }
  .service:after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #dc3545;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    z-index: -1; }
  .service:hover h5, .service:hover p {
    color: white; }
  .service:hover .iconbox {
    background-color: #fff;
    color: #dc3545; }
  .service:hover:after {
    opacity: 1;
    top: 0; }

#price .card-effect:hover {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  transform: none; }

.col-img {
  background-image: url(/img/sns.jpg);
  background-position: center;
  background-size: cover;
  min-height: 400px; }

@media screen and (max-width: 991px) {
  .col-img {
    display: none; } }
.portfolio {
  position: relative;
  overflow: hidden; }
  .portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 39, 71, 0.7);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.4s ease; }
  .portfolio img {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    transition: all 0.4s ease; }
  .portfolio:hover .overlay {
    opacity: 1; }
  .portfolio:hover img {
    transform: scale(1.1); }

.sns img {
  width: 125px;
  height: 125px;
  border-radius: 100px; }

#sns .card-effect:hover {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  transform: none; }

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center; }
  .social-icons a {
    width: 34px;
    height: 35px;
    background-color: #dc3545;
    border: 2px solid #dc3545;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease; }
    .social-icons a:hover {
      color: #dc3545;
      background-color: transparent; }

form input.form-control {
  height: 56px; }

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.04); }

.footer-top {
  background-color: #21252f;
  padding: 90px;
  padding-bottom: 90px; }
  .footer-top a {
    color: #888; }
    .footer-top a:hover {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
